<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- "defer" makes the script load in parallel but execute only after the whole HTML is parsed -->

    <script defer src="/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header_admin.ejs') %>
      <!--wraping index.ejs file inside admin.ejs file
      body variable is provided by express-ejs-layout -->
      <main class="main"><%- body %></main>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
